# Matala 3

In [1]:
import json
import requests
import pandas as pd

### Distance and Time

In [2]:
data = open('dests.txt','r')
data = data.read()
targets= data.split('\n')
distance_table = pd.DataFrame({'Target': targets})
api_key = 'AIzaSyAfvWGnWQo0iwNTaKxhPOyo4PSTJJ17ygY' 
def distance_to_TA (city):
    url ='https://maps.googleapis.com/maps/api/distancematrix/json?destinations=Tel-Aviv&origins=%s&units=imperial&key=%s' % (city ,api_key)
    try:
        response = requests.get(url).json() 
        if response["status"] != "OK":
            print('HTTP error')
    except:
        print("Something went wrong with requests.get")   
    return response['rows'][0]['elements'][0]['distance']['value']

def time_to_TA (city):
    url ='https://maps.googleapis.com/maps/api/distancematrix/json?destinations=Tel-Aviv&origins=%s&units=imperial&key=%s' % (city ,api_key)
    try:
        response = requests.get(url).json() 
        if response["status"] != "OK":
            print('HTTP error')
    except:
        print("Something went wrong with requests.get")  
    seconds = response['rows'][0]['elements'][0]['duration']['value']
    hours = seconds//3600
    minutes = (seconds % 3600) // 60
    return str(hours)+' Hours, '+str(minutes)+' Minutes'


distance_table['Distance_km'] = distance_table['Target'].apply(distance_to_TA)
distance_table['Duration (hour+minutes)'] = distance_table['Target'].apply(time_to_TA)
distance_table

      Target  Distance_km Duration (hour+minutes)
0   Istanbul      1813585    20 Hours, 54 Minutes
1  Amsterdam      4536451    47 Hours, 59 Minutes
2   Valletta      3794751    50 Hours, 43 Minutes
3      Basel      4114180     44 Hours, 2 Minutes
4       Doha      2166679    22 Hours, 44 Minutes

### Longitude and Latitude

In [3]:
#url="https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (address,api_key)
def longitude (city):
    url="https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (city,api_key)
    try:
        response = requests.get(url).json() 
        if response["status"] != "OK":
            print('HTTP error')
    except:
        print("Something went wrong with requests.get")   
    return response['results'][0]['geometry']['location']['lng']
def latitude  (city):
    url="https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (city,api_key)
    try:
        response = requests.get(url).json() 
        if response["status"] != "OK":
            print('HTTP error')
    except:
        print("Something went wrong with requests.get")  
    return response['results'][0]['geometry']['location']['lat']
distance_table['Longitude'] = distance_table['Target'].apply(longitude)
distance_table['Latitude'] = distance_table['Target'].apply(latitude)
distance_table

      Target  Distance_km Duration (hour+minutes)  Longitude   Latitude
0   Istanbul      1813585    20 Hours, 54 Minutes  28.978359  41.008238
1  Amsterdam      4536451    47 Hours, 59 Minutes   4.904139  52.367573
2   Valletta      3794751    50 Hours, 43 Minutes  14.514100  35.899237
3      Basel      4114180     44 Hours, 2 Minutes   7.588576  47.559599
4       Doha      2166679    22 Hours, 44 Minutes  51.531040  25.285447

### Printing the data contant:

In [4]:
print(distance_table)

      Target  Distance_km Duration (hour+minutes)  Longitude   Latitude
0   Istanbul      1813585    20 Hours, 54 Minutes  28.978359  41.008238
1  Amsterdam      4536451    47 Hours, 59 Minutes   4.904139  52.367573
2   Valletta      3794751    50 Hours, 43 Minutes  14.514100  35.899237
3      Basel      4114180     44 Hours, 2 Minutes   7.588576  47.559599
4       Doha      2166679    22 Hours, 44 Minutes  51.531040  25.285447

In [5]:
      Target  Distance_km Duration (hour+minutes)  Longitude   Latitude
0   Istanbul      1813585    20 Hours, 54 Minutes  28.978359  41.008238
1  Amsterdam      4536451    47 Hours, 59 Minutes   4.904139  52.367573
2   Valletta      3794751    50 Hours, 43 Minutes  14.514100  35.899237
3      Basel      4114180     44 Hours, 2 Minutes   7.588576  47.559599
4       Doha      2166679    22 Hours, 44 Minutes  51.531040  25.285447

SyntaxError: invalid syntax (4146519652.py, line 1)

In [6]:
furthest = distance_table.sort_values(["Distance_km"],ascending=False)
print(furthest["Target"].head(3))

1    Amsterdam
3        Basel
2     Valletta
Name: Target, dtype: object